* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	font-family: arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 100;
	color: #222;
}

#island {
	margin: 50px 0 10px 0;
}

.tile:hover {
	opacity: 0.7;
}

.tile > text {
	display: none;
}

.tile:hover > text {
	display: block;
	font-size: 7px;
	margin: 0 0 0 -10px;
}

.controls {
	margin: 7px 15px;

	input {
		margin: 0 10px 0 0;
		width: 60px;
	}
}